{% extends 'layout.html.twig' %} 
  
  {% block title %}Category - {{ parent() }}{% endblock title %}

    

{% block innerContent %}

  <body>
    <main>

      </main>


  
  </body>

{% endblock innerContent %}