/*
font categorie african
*/
@font-face {
    font-family: "bakery";
    src: url("font/font-categorie-africa/bakery.otf") format("otf");
}

@font-face {
    font-family: "benthem-bold";
    src: url("font/font-categorie-africa/Benthem-Bold.otf") format("otf");
}

@font-face {
    font-family: "benthem-regular";
    src: url("font/font-categorie-africa/benthem-regular.otf") format("otf");
}

@font-face {
    font-family: "bizarre";
    src: url("font/font-categorie-africa/bizarre.otf") format("otf");
}

@font-face {
    font-family: "brusher";
    src: url("font/font-categorie-africa/brusher.ttf") format("ttf");
}

@font-face {
    font-family: "code-Light";
    src: url("font/font-categorie-africa/code-Light.otf") format("otf");
}

@font-face {
    font-family: "rimbaandalas";
    src: url("font/font-categorie-africa/rimbaandalas-a.ttf");
}

@font-face {
    font-family: "rimbaandalas-b";
    src: url("font/font-categorie-africa/rimbaandalas-b.otf") format("otf");
}

/*
font categorie american
*/
@font-face {
    font-family: "bebasneue";
    src: url("font/font-categorie-american/bebasneue.ttf") format("truetype");
}

@font-face {
    font-family: "billiondreams";
    src: url("font/font-categorie-american/billiondreams.ttf") format("ttf");
}

@font-face {
    font-family: "faltura-regular";
    src: url("font/font-categorie-american/faltura-regular.ttf") format("truetype");
}

@font-face {
    font-family: "metropolis";
    src: url("font/font-categorie-american/metropolis.otf") format("opentype");
}

@font-face {
    font-family: "moonbright";
    src: url("font/font-categorie-american/moonbright.ttf") format("truetype");
}

/*
font categorie asiat
*/
@font-face {
    font-family: "jolly";
    src: url("font/font-categorie-asiat/jolly-retro-demo.otf");
}

@font-face {
    font-family: "oldgatel";
    src: url("font/font-categorie-asiat/oldgatel.ttf") format("truetype");
}

@font-face {
    font-family: "Praise-Regular";
    src: url("font/font-categorie-asiat/Praise-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "quicksandbookoblique";
    src: url("font/font-categorie-asiat/quicksand_book_oblique.otf");
}

@font-face {
    font-family: "quicksandbook";
    src: url("font/font-categorie-asiat/quicksand_book.otf") format("otf");
}

@font-face {
    font-family: "resavy-bold-italic";
    src: url("font/font-categorie-asiat/resavy-bold-italic.ttf") format("ttf");
}

@font-face {
    font-family: "resavy-bold";
    src: url("font/font-categorie-asiat/resavy-bold.ttf") format("ttf");
}

@font-face {
    font-family: "resavy-italic";
    src: url("font/font-categorie-asiat/resavy-italic.ttf") format("ttf");
}

@font-face {
    font-family: "resavy";
    src: url("font/font-categorie-asiat/resavy.ttf") format("ttf");
}

@font-face {
    font-family: "sudoku-Italic";
    src: url("font/font-categorie-asiat/sudoku-Italic.ttf") format("ttf");
}

@font-face {
    font-family: "sudoku";
    src: url("../font/font-categorie-asiat/sudoku.ttf") format("ttf");
}

/*
font categorie indian */

@font-face {
    font-family: "candlescript-demo-version";
    src: url("/font/font-categorie-indian/candlescript-demo-version.otf") format("otf");
}

@font-face {
    font-family: "helvetica-neue-ltstd-light";
    src: url("/font/font-categorie-indian/helvetica-neue-ltstd-light.otf") format("otf");
}

@font-face {
    font-family: "jolly-retro-demo";
    src: url("/font/font-categorie-indian/jolly-retro-demo.otf") format("otf");
}

@font-face {
    font-family: "magna-blackcondensed";
    src: url("/font/font-categorie-indian/magna-blackcondensed.otf") format("otf");
}

@font-face {
    font-family: "resavy";
    src: url("/font/font-categorie-indian/resavy.ttf") format("ttf");
}

@font-face {
    font-family: "sf-port-mckenzie-bold-italic";
    src: url("/font/font-categorie-indian/sf-port-mckenzie-bold-italic.ttf") format("ttf");
}

@font-face {
    font-family: "sf-port-mckenzie-bold";
    src: url("/font/font-categorie-indian/sf-port-mckenzie-bold.ttf") format("ttf");
}

@font-face {
    font-family: "sf-port-mckenzie-italic";
    src: url("/font/font-categorie-indian/sf-port-mckenzie-italic.ttf") format("ttf");
}

@font-face {
    font-family: "sf-port-mckenzie-italic";
    src: url("/font/font-categorie-indian/sf-port-mckenzie.ttf") format("ttf");
}

/*
font categorie italian
*/

@font-face {
    font-family: "bebasneue-regular";
    src: url("font/font-categorie-italian/bebasneue-regular.ttf") format("ttf");
}

@font-face {
    font-family: "infinity";
    src: url("font/font-categorie-italian/infinity.ttf") format("truetype");
}

@font-face {
    font-family: "blackcondensed";
    src: url("font/font-categorie-italian/magna-blackcondensed.otf") format("otf");
}

@font-face {
    font-family: "masterics";
    src: url("font/font-categorie-italian/masterics-personal-use.ttf") format("truetype");
}

@font-face {
    font-family: "moonbrightdemo";
    src: url("font/font-categorie-italian/moonbrightdemo.ttf") format("ttf");
}

/*
font categorie vegan
/*/
@font-face {
    font-family: "benthem-bold";
    src: url("/font/font-categorie-vegan/benthem-bold.otf") format("otf");
}

@font-face {
    font-family: "benthem-regular";
    src: url("/font/font-categorie-vegan/benthem-regular.otf") format("otf");
}

@font-face {
    font-family: "brusher";
    src: url("/font/font-categorie-vegan/brusher.ttf") format("ttf");
}

@font-face {
    font-family: "dalmais";
    src: url("/font/font-categorie-vegan/dalmais.otf") format("otf");
}

@font-face {
    font-family: "daniel-bold";
    src: url("/font/font-categorie-vegan/daniel-bold.ttf") format("ttf");
}

@font-face {
    font-family: "daniel";
    src: url("/font/font-categorie-vegan/daniel.ttf") format("ttf");
}

@font-face {
    font-family: "echinos-park-script";
    src: url("/font/font-categorie-vegan/echinos-park-script.ttf") format("ttf");
}

@font-face {
    font-family: "sunday-monday";
    src: url("/font/font-categorie-vegan/sunday-monday.ttf") format("ttf");
}



/*
font gallerie

@font-face {
    font-family: "cherry-blossom-script";
    src: url("/font/font-gallerie/cherry-blossom-script.ttf") format("ttf");
}

@font-face {
    font-family: "stea-font";
    src: url("/font/font-gallerie/stea-font.otf") format("otf");
}

@font-face {
    font-family: "yessy";
    src: url("/font/font-gallerie/yessy.otf") format("otf");
}
*/
/*
font general

@font-face {
    font-family: "poppins-bold";
    src: url("/font/font-general/poppins-bold.ttf") format("ttf");
}

@font-face {
    font-family: "poppins-regular";
    src: url("/font/font-general/poppins-regular.ttf") format("ttf");
}
/*
font-header
*/

@font-face {
    font-family: "Metropolis";
    src: url("/font/font-header/Metropolis.otf") format("otf");
}

@font-face {
    font-family: "Moonbright";
    src: url("/font/font-header/moonbright.ttf") format("ttf");
}

@font-face {
    font-family: "nouvelle_vague_final";
    src: url("/font/font-header/nouvelle_vague_final.ttf") format("ttf");
}

@font-face {
    font-family: "oldgatel";
    src: url("font/font-header/oldgatel.ttf") format("truetype");
}

@font-face {
    font-family: "Sunday-Monday";
    src: url("/font/font-header/Sunday-Monday.ttf") format("ttf");
}

/*
font-newsletter

@font-face {
    font-family: "bebasneue-regular";
    src: url("/font/font-general/bebasneue-regular.ttf") format("ttf");
}

@font-face {
    font-family: "billiondreams";
    src: url("/font/font-general/billiondreams.ttf") format("ttf");
}

@font-face {
    font-family: "happy-camper-regular";
    src: url("/font/font-general/happy-camper-regular.ttf") format("ttf");
}

@font-face {
    font-family: "moonbrightdemo";
    src: url("/font/font-general/moonbrightdemo.ttf") format("ttf");
}
*/
/*
font-valeur

@font-face {
    font-family: "jolly-retro-demo";
    src: url("/font/font-general/jolly-retro-demo.otf") format("otf");
}

@font-face {
    font-family: "jolly-retro-demo";
    src: url("/font/font-general/jolly-retro-demo.ttf") format("ttf");
}
*/
/*
montage typo
*/


/*
montage africain
*/
.africain {
    font-family: "rimbaandalas";
    font-size: 52px;
    color: #1D201F;
}

.live {
    font-family: "benthem-bold";
    font-size: 36px;
    color: #1D201F;
}

.un {
    font-family: "bakery";
    font-size: 40px;
    color: #1D201F;
}

.safari {
    font-family: "bizarre";
    font-size: 55px;
    color: #1D201F;
}

.gustatif {
    font-family: "brusher";
    font-size: 55px;
    color: #EF3054;
}

.a {
    font-family: "bakery";
    font-size: 55px;
    color: #1D201F;
}

.paris {
    font-family: "code-light";
    font-size: 55px;
    color: #1D201F;
}
/*
montage asiat
*/

.asiat{
    font-family: "sudoku";
    font-size: 97px;
    color: #1D201F;
}
.gram{
    font-family: "oldgatel";
    font-size: 55px;
    color: #1D201F;
}
.art{
    font-family: "resavy-bold";
    font-size: 55px;
    color: #1D201F;
}
.du{
    font-family: "quicksandbookoblique";
    font-size: 29px;
    color: #1D201F;
}
.soja{
    font-family: "quicksandbook";
    font-size: 69px;
    color: #1D201F;
}
.avec{
    font-family: "praise";
    font-size: 30px;
    color: #1D201F;
}
.soin{
    font-family: "jolly";
    font-size: 84px;
    color: #1D201F;
}
≈
.american{
    font-family: "metropolis";
    font-size: 84px;
    color: #1D201F;
}
.food{
    font-family: "moonbright";
    font-size: 84px;
    color: #1D201F;
}
.story{
    font-family: "moonbright";
    font-size: 63px;
    color: #1D201F;
}
.les{
    font-family: "billiondreams";
    font-size: 37px;
    color: #1D201F;
}
.vous{
    font-family: "billiondreams";
    font-size: 36px;
    color: #1D201F;
}
.ouvre{
    font-family: "bebasneue";
    font-size: 36px;
    color: #1D201F;
}
.portes{
    font-family: "faltura-regular";
    font-size: 69px;
    color: #1D201F;
}
/*
montage italian
*/
.italian{
    font-family: "magna-blackcondensed";
    font-size: 88px;
    color: #1D201F;
    margin-right: 20px;
}

.post{
    font-family: "masterics";
    font-size: 80px;
    color: #1D201F;
}
.gram{
    font-family: "moonbright";
    font-size: 80px;
    color: #EF3054;
    margin-right: 10px;
}
.ma{
    font-family: "infinity";
    font-size: 53px;
    color: #1D201F;
    margin-right: 10px;
}
.mia{
    font-family: "bebasneue";
    font-size: 79px;
    color: #1D201F;
}
/*
montage italian
*/

/* Montage Vegan*/
.vegan {
    font-family: "benthem-regular";
    color: #EF3054;
    font-size: 47px;
}
.tag {
    font-family: "sunday-monday";
    color: #1D201F;
}

.du {
    font-family: "echinos-park-script";
    color: #1D201F;
    font-size: 36px;
}

.vert {
    font-family: "brusher";
    color: #1D201F;
    font-size: 63px;
}

.plein {
    font-family: "daniel";
    color: #1D201F;
    font-size: 30px;
}

.assiette {
    font-family: "dalmais";
    color: #1D201F;
    font-size: 63px;
}

/* Montage Indian*/
.indian {
    font-family: "candlescript-demo-version";
    color: #1D201F;
    font-size: 63px;
}

.typo-like {
    font-family: "sf-port-mckenzie-bold";
    color: #1D201F;
    font-size: 98px;
}

.typo-de {
    font-family: "helvetica-neue-ltstd-light";
    color: #1D201F;
}

.typo-gram {
    font-family: "resavy";
    color: #1D201F;
    font-size: 20px;
}

.bollywood {
    font-family: "jolly-retro-demo";
    color: #EF3054;
    font-size: 63px;
}




.gram-header{
    font-family: "Moonbright";
    font-size: 90px;
    color: #EF3054;
}
.repere{
    font-family: "oldgatel";
    font-size: 143px;
    color: #1D201F;
}

