*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
.article{
    text-align: right;
}
@media(max-width:560px) {
    *::after, *::before {
        box-sizing: 0;
    }
}

/******* DEBUT GENERALE *******/
/*******  FIN GENERALE  *******/

/*******  DEBOUT DE LA TYPOGRAPHY *******/    
/*font categorie indian*/
@font-face {
font-family: "candlescript-demo-version";
src: url("/font/font-categorie-indian/candlescript-demo-version.otf") format("otf"),
}
@font-face {
font-family: "helvetica-neue-ltstd-light";
src: url("/font/font-categorie-indian/helvetica-neue-ltstd-light.otf") format("otf"),
}
@font-face {
font-family: "jolly-retro-demo";
src: url("/font/font-categorie-indian/jolly-retro-demo.otf") format("otf"),
}
@font-face {
font-family: "magna-blackcondensed";
src: url("/font/font-categorie-indian/magna-blackcondensed.otf") format("otf"),
}
@font-face {
font-family: "resavy";
src: url("/font/font-categorie-indian/resavy.ttf") format("ttf"),
}
@font-face {
font-family: "sf-port-mckenzie-bold-italic";
src: url("/font/font-categorie-indian/sf-port-mckenzie-bold-italic.ttf") format("ttf"),
}
@font-face {
font-family: "sf-port-mckenzie-bold";
src: url("/font/font-categorie-indian/sf-port-mckenzie-bold.ttf") format("ttf"),
}
@font-face {
font-family: "sf-port-mckenzie-italic";
src: url("/font/font-categorie-indian/sf-port-mckenzie-italic.ttf") format("ttf"),
}
@font-face {
font-family: "sf-port-mckenzie-italic";
src: url("/font/font-categorie-indian/sf-port-mckenzie.ttf") format("ttf"),
}
            
/*font categorie vegan*/
@font-face {
font-family: "benthem-bold";
src: url("/font/font-categorie-vegan/benthem-bold.otf") format("otf"),
}
@font-face {
font-family: "benthem-regular";
src: url("/font/font-categorie-vegan/benthem-regular.otf") format("otf"),
}
@font-face {
font-family: "brusher";
src: url("/font/font-categorie-vegan/brusher.ttf") format("ttf"),
}
@font-face {
font-family: "dalmais";
src: url("/font/font-categorie-vegan/dalmais.otf") format("otf"),
}
@font-face {
font-family: "daniel-bold";
src: url("/font/font-categorie-vegan/daniel-bold.ttf") format("ttf"),
}
@font-face {
font-family: "daniel";
src: url("/font/font-categorie-vegan/daniel.ttf") format("ttf"),
}
@font-face {
font-family: "echinos-park-script";
src: url("/font/font-categorie-vegan/echinos-park-script.ttf") format("ttf"),
}
@font-face {
font-family: "sunday-monday";
src: url("/font/font-categorie-vegan/sunday-monday.ttf") format("ttf"),
}
        
/*font gallerie*/
@font-face {
font-family: "cherry-blossom-script";
src: url("/font/font-gallerie/cherry-blossom-script.ttf") format("ttf"),
}
@font-face {
font-family: "stea-font";
src: url("/font/font-gallerie/stea-font.otf") format("otf"),
}
@font-face {
font-family: "yessy";
src: url("/font/font-gallerie/yessy.otf") format("otf"),
}
            
/*font general*/
@font-face {
font-family: "poppins-bold";
src: url("/font/font-general/poppins-bold.ttf") format("ttf"),
}
@font-face {
font-family: "poppins-regular";
src: url("/font/font-general/poppins-regular.ttf") format("ttf"),
}
        
/*font-header*/
@font-face {
font-family: "Metropolis_1920";
src: url("/font/font-general/Metropolis_1920.otf") format("otf"),
}
@font-face {
font-family: "MoonbrightDemo-1GGn2";
src: url("/font/font-general/MoonbrightDemo-1GGn2.ttf") format("ttf"),
}
@font-face {
font-family: "nouvelle_vague_final";
src: url("/font/font-header/nouvelle_vague_final.ttf") format("ttf");
}
@font-face {
font-family: "oldgatel";
src: url("/font/font-header/oldgatel.ttf") format("ttf");
}
@font-face {
font-family: "Sunday-Monday";
src: url("/font/font-general/Sunday-Monday.ttf") format("ttf"),
}

/*font-newsletter*/
@font-face {
font-family: "bebasneue-regular";
src: url("/font/font-general/bebasneue-regular.ttf") format("ttf"),
}
@font-face {
font-family: "billiondreams";
src: url("/font/font-general/billiondreams.ttf") format("ttf"),
}
@font-face {
font-family: "happy-camper-regular";
src: url("/font/font-general/happy-camper-regular.ttf") format("ttf"),
}
@font-face {
font-family: "moonbrightdemo";
src: url("/font/font-general/moonbrightdemo.ttf") format("ttf"),
}
                    
/*font-valeur*/
@font-face {
font-family: "jolly-retro-demo";
src: url("/font/font-general/jolly-retro-demo.otf") format("otf"),
}
@font-face {
font-family: "jolly-retro-demo";
src: url("/font/font-general/jolly-retro-demo.ttf") format("ttf"),
}    
/******* FIN DE LA TYPOGRAPHY *******/    


/***************** HEADER *****************/
/******* Débout de la Nav Bar *****/
.icons-header{
    list-style: none;
    width: -80%;
}
.logo-header {
    width:70%; 
    height:70%;
 
    display:inline ;
}
.logo-header-mobile {
    width:70%; 
    height:70%;
    margin: -10px;
    display: none;
}
/*******  Fin de la Nav Bar *****/


/*TYPO-Header*/
#gram-header{
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 7rem;
    padding-top: 5rem;
}
#gram-header .gram{
    font-family: 'Moonbright Demo';
    font-size: 90px;
    line-height: 56px;
    color: #EF3054;
}
#gram-header .reper{
    font-family: 'OldgateLaneOutline';
    font-size: 143px; 
    text-transform: uppercase;
    color: #000000;
}
#gram-header .des{
    font-family: 'Sunday  Monday';
    font-size: 47px;
}
#gram-header .resto{ 
    font-family: 'Nouvelle Vague';
    font-size: 150px;   
    font-weight: 900px;
    align-self: left;
}
#gram-header .tendance{
    font-family: 'Metropolis 1920';
    font-size: 116px; 
    clear: left;
}
/* FIN TYPO-Header*/

/********* NAV-Header ************/
.transparentes{
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0px;
    text-align: center;
    transition: .5s;
    background: rgba(0, 0, 0, 0,1);
}
.transparentes .navbar ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 50px;
    font-size: 24px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius:10px;
    transition: .5s;
}
.transparentes ul li a{    
    color: #1D201F;
}
.noir{    
    background: #1D201F;
}
.noir ul li a{    
    color: #F9F9F9;
}
.noir ul li a:hover, .transparentes ul li a:hover{    
    color: #EF3054;
}
/* FIN - NAV-Header*/

/* IMAGE-Header*/
    #header {
        background-image: url("../img/img-header/img-header.jpeg");
        background-position: top right;
        background-repeat: no-repeat;   
        background-attachment: fixed;
    }
    #gram-header img{
        /*float: left;
        margin-top: 12rem;
        margin-right: -7rem;*/
        position: relative;
        left: 1rem;
        bottom: 90px;
    }

    #header {
        background-size: 50vw 100vh;
        background-position: top right;
        overflow: hidden;
    }
    
    #gram-header {
        height: 80vh;
        max-width: 70%;
    }
    
    
/* FIN IMAGE-Header*/

/* //////////// code Camille //////////// */
#header {
    background-size: 50vw 100vh;
    background-position: top right;
    overflow: hidden;
}
#gram-header {
    height: 80vh;
    max-width: 70%;
}
#nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
.card {
    font-family: 'poppins';
    border-radius: 0;
    width: 15rem;
}
.image-card {
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}
.card-text-like {
    height: 50px;
    margin: 15px;
}
.card h3 {
    font-size: 20px;
}
.card p {
    color: grey;
    font-size: 14px;
    margin: 0;
}

.restau-section {
    margin: 50px 0px;
}
.like-resto {
    width: 17%!important;
}
.row {
    --bs-gutter-x: 0rem;
}

/********* RESPONSIVE - HEADER ************/
@media(max-width:560px) {
      .transparentes{
        background: white;
    }
    .logo-header {
        width:70%; 
        height:70%;
        margin: -10px;
        display: none;
    }
    .logo-header-mobile {
        width:70%; 
        height:70%;
        margin: -15px; 
        display:inline;
    }
    .icons-header img{
        width:30px;
        align-items: center;
        margin: 15px;
    }
    .navbar-toggle{
        border-style: none;
    }
    #header{
        background-image: none;
        flex-direction: blocks;
        align-items: center;
    }
    #gram-header{
        width: 20px;
        font-weight: 50;
    }
    #gram-header img{
      float: left;
      margin-top: 1rem;
      margin-right: 1rem;
    }
    #logo-header-tendance{
        width: 60px;
        height: 52px;
    }
    /*TYPO-Header*/
    #gram-header{
        padding-top: 1rem;
        justify-content: center;
        margin-left: 3rem;
    }
    #gram-header .gram{
        font-size: 62px;
        line-height: 56px;
        align-self: center;
     }
    #gram-header .reper{
        font-size: 75px; 
    }
    #gram-header .des{
        font-size: 25px;
    }
    #gram-header .resto{ 
        font-size:85px;   
        font-weight: 300px;
    }
    #gram-header .tendance{
        font-size: 65px;  
    }
/* FIN TYPO-Header*/
}
/********* FIN - RESPONSIVE ************/
/************FIN HERDER******************/

/************DEBOUT DU MAIN******************/
.restau-section, .section-valeurs, .section-descrition{
    padding: 2rem;
}


.card {
    font-family: 'poppins';
    border-radius: 0;
    width: 15rem;
}
.image-card {
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}
.card-text-like {
    height: 50px;
    margin: 15px;
}
.card h3 {
    font-size: 20px;
}
.card p {
    color: grey;
    font-size: 14px;
    margin: 0;
}
.row > * {
    padding: 0;
}
.restau-section {
    margin: 50px 0px;
}
.like-resto {
    width: 17%!important;
}
.row {
    --bs-gutter-x: 0rem;
}

.tendance {
    display: flex!important;
}
   
.section-gallery h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}


.restau-section, .section-valeurs, .section-descrition{
    padding: 2rem;
}
/***** SECTION MISE EN AVANT DU RESTAURANT ET DESCRIPTION DE CHAQUE CARD - MODAL DEROLANT ***/
/**** Metre en responsive ***/
#mise-en-avant{/***Positionner le texto à droit***/
    display:flex;
}
#savane, #alcaza, #akara, #groove, #lagos{
    background-position: center;
    color: white;
    float: left;
    display: start;
    padding-left: 50rem;
}
/*****Placer chaque image avec leur rgba adapté*****/
#mise-en-avant{
    background-image: linear-gradient(to right, rgba(40, 46, 124, 0.5), rgba(83, 30, 168, 0.5) 55%, black -55%), url("../img/img-restaurant/img-mise-en-avant-restaurant.jpg");
}
#savane{
    background-image: linear-gradient(to right, rgba(218, 78, 132, 0.294), rgba(241, 147, 191, 0.5) 55%, black 55%) , url("../img/img-card/savane.png");
    background-position:left;
    background-repeat: no-repeat; 
    background-image: cover; 
}
#alcaza{
    background-image: linear-gradient(to right, rgba(40, 46, 124, 0.5), rgba(83, 30, 168, 0.5) 55%, black 55%) , url("../img/img-card/alcazar_paris.jpeg");
}
#akara{
    background-image: linear-gradient(to right, rgba(40, 46, 124, 0.5), rgba(83, 30, 168, 0.5) 55%, black 55%) , url("../img/img-card/");
}
#groove{
    background-image: linear-gradient(to right, rgba(121, 32, 32, 0.178), rgba(122, 35, 50, 0.157) 55%, black 55%) , url("../img/img-restaurant/img-mise-en-avant-restaurant.jpg");
}
#lagos{
    background-image: linear-gradient(to right, rgba(40, 46, 124, 0.5), rgba(83, 30, 168, 0.5) 55%, black 55%) , url("../img/img-card/");
}
/*****Fin de placer chaque image avec leur rgba adapté*****/
#discription article, #mise-en-avant article {
    width: 45%;
    padding: 10vh 0;
}
#discription .border-article, #mise-en-avant .border-article,
#savane .border-article, #alcaza .border-article, 
#akara .border-article, #groove .border-article, #lagos .border-article
{
    border: solid white 1px;
    max-width: 90%;
    padding: 2rem;
    margin: 1rem 3rem;    
}
#discription article p, #discription a, #mise-en-avant article p, #mise-en-avant article a,
#savane article p, #alcaza article p, 
#akara article p, #groove article p, #lagos article p, #savane article a, #alcaza article a, 
#akara article a, #groove article a, #lagos article a{
    text-align:left;
    margin: 5rem;
    color: #F9F9F9;
}
#lagos article p, #savane article a, #alcaza article a, 
#akara article a, #groove article a, #lagos article a{
    text-decoration: none;
    color: #EF3054;
}
#discription a:hover, #savane article a:hover, #alcaza article a:hover, 
#akara article a:hover, #groove article a:hover, #lagos article a:hover{
   color: #ffffff;
}
#discription .avantage-discription{
    text-decoration: none;
    color: azure;
}

/***** Responsive - mobile*******/
/***** Version mobile *******/
@media(max-width:560px) {
    #savane, #alcaza, #akara, #groove, #lagos{
        color: white;
        justify-content: center;
        background-image: none;
        background-color: black;
    }
    #savane article p, #alcaza article p, #akara article p, #groove article p, #lagos article p{
        width: 100%;
    }
    #savane article h2, #alcaza article h2, #akara article h2, #groove article h2, #lagos article h2 {
        margin-left: 0;
    }
    #savane article, #alcaza article, #akara article, #groove article, #lagos article{
        width: 70%;
    }
    #discription a:hover, #savane article a:hover, #alcaza article a:hover, 
    #akara article a:hover, #groove article a:hover, #lagos article a:hover{
    text-transform: none;
    }
}
/***** FIN - SECTION MISE EN AVANT DU RESTAURANT *******/

/**** LA SECTION NOUS VALEURS ***/
#valeur-illustration{
    width:50vh;
    height:50vh;
    margin:5rem;
}
#valeur-illustration img{
   align-items: center;
}
#valeur-illustration h4, #valeur-illustration p{
  margin: 5rem;
}
/**** LA SECTION NOUS VALEURS - Responsive ***/
/**** Dans la version mobile - mettre en responsive***/
@media(max-width:560px) {
    #valeur-illustration{
        width:25vh;
        height:25vh;
        margin:1rem;
        grid-column: span 1;
        grid-row: span 1;
    }
}
/********* FIN - RESPONSIVE ************/
/****FIN DE LA SECTION NOUS VALEURS***/

/**** LA SECTION GALLERY ***/
#section-gallery h2{
    padding-top: 8rem;
}
.gallery{
    display:flex;
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
    background: #f2f2f2;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}
.gallery img{
    transition: 1s;
}
.gallery img:hover{
    filter:grayscale(50%);
    transform:scale(1.1);
}
/****Stretch Vertically*****/
.v-stretch {
    grid-row: span 2;
}
/****Stretch horizontally*****/
.h-stretch {
    grid-column: span 2;
}
/****Stretch Vertically - Horizontally******/
.h-stretch {
    grid-column: span 2;
    grid-column: span 2;
}
.gallery div img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
/****Responsive - MOBILE - Validé*****/
@media(max-width:560px) {
    .galerie{
        justify-content: center;
        padding: 0;
    }
    .gallery img:hover{
        filter:none;
        transform:none;
    }
    .v-stretch{
        grid-row: span 1;
    }
    .h-stretch{
        grid-column: span 1;
    }
    .big-stretch{
        grid-column: span 1;
        grid-row: span 1;
    }
}
/******* FIN - DE LA SECTION GALLERY *******/

/***** DEBOUT SECTION NEWSLETTER *******/
#newletter1 {
    width: 100%;
    height: 100%;
    justify-content: end;
    display: flex;
}/***************************/

.contenu-partie7 {
    display: flex;

}

#news-letter-gauche, #news-letter-droite{
    top: 150px;
    position: relative;
    text-align: center;
}
#news-letter-droite {
    text-align: -webkit-center;
    position: relative;
    top: 550px;
}
.contenu-partie7 h1 {
    font-family: Newsletter;
    font-size: 100px;
}
#click, #gram {
    font-family: Moonbright;
}
#newsletter {
    font-family: Bebas ;
}
#notre img {
    width: 100px;
}

.contenu-partie6 h1 {
    margin-top: 100px;
}
input {
    border: none;
    width: 250px;
}
#input-div {
    border: 2px solid black;
    width: 450px;
    padding: 10px;
}
#input-div button {
background-color: red;
color: white;
border: none;
padding: 5px;
margin-left: 60px;
}

#texte-cadre {
    text-align: -webkit-center;
    padding: 50px;
    border: 1px solid white;
    height: 800px;
    padding-top: 220px;
}

/*****
.contenu-partie3 {
    display: flex;
    height: 1000px;
}

.contenu-partie3 .div-gauche {
    background-image: url(../img/img-restaurant/img-mise-en-avant-restaurant.jpg);
    background-size: cover;
    
}

.contenu-partie3 .div-droite {
    background-image: none;
    background-color: #1b1b1b;
    height: 1000px;
    color: white;
    padding: 5%;
}

#texte-cadre {
    text-align: -webkit-center;
    padding: 50px;
    border: 1px solid white;
    height: 800px;
    padding-top: 220px;
}

*****/

/***** FIN - SECTION NEWSLETTER *******/

/***** DEBOUT - MODAL - FORMULAIRE ***
.modal-body{
	margin: 10px;
	padding: 5px;
    width: 65vh;
	height: 50vh;
}
.modal-body h1,.modal-body p{
	text-align: center;
}
form a{
	text-decoration: none;
	color:rgb(0, 0, 0);
	font-size: 20px;
}
.fade {
	background-color:rgba(26, 26, 26, 0.925);
	font-size: 20px;
}
form a:hover{
	color:rgb(98, 0, 116);
}
form{
	position:absolute;
	top: 60px;
	left: 50px;
	transform:translate(-50ù,-60%);
	text-align: center;
}
input{
	width: 100%;
	margin: 20px 0;
	background:rgba(0, 0, 0, 0);
	border:none;
	font-size: 20px;
	color: rgb(0, 0, 0);
	border-bottom: solid 2px ;
}
#small{
    font-size: 5px;
}****/

/***** FIN - MODAL - FORMULAIRE  *******/
/*******  FIN DU MAIN *******/

/******* DEBOUT DU FOOTER *******/
/******* Valide *******/
footer{
    margin-top: 2rem;
}

footer nav div ul li a{
    margin: 2rem;
}

@media(max-width:560px) {
    footer{
        height: 50vh;
    }
    footer nav div ul li a{
        margin: 1rem auto;
        padding: 1rem;
    }
}
/*******  FIN DU FOOTER *******/


/******* DEBOUT DE LA PAGE A PROPOS *******/
.propos{
    margin: 8rem;
}
h2-partenaire{
    margin: 8rem;
}
.propos h2{
    font-size: 5rem;
    margin-top:6rem;
    margin-bottom:6rem;
}
.propos .notre-equipe{
    margin: 5rem;
}
.propos p{
    text-align:left;
}
/**
#partenaire-jugaad img{
    width: 50vh;
}
#partenaire-mama-jackson img{
    width: 50vh;
}
#partenaire-mach img{
    width: 50vh;
}
#partenaire-dalmata img{
    width: 50vh;
}
#partenaire-big-mamma img{
    width: 50vh;
}
#partenaire-mama-jackson img{
    width: 50vh;
}
#partenaire-stret img{
    width: 50vh;
}***/
/******* FIN DE LA PAGE A PROPOS *******/


/***** DEBOUT DE LA SECTION PROFIL *******/
.brandon{
    text-transform: uppercase;
}
.john{
    clip-path:ellipse(50% 50%);  
    width:300px;
    height:300px;
    margin-top: 5rem;
}
#john{
    border: solid 50px;
}
/***** FIN DE LA SECTION PROFIL*******/

